body {
    height: 100vh;
    width: 100vw;
    background-color: #B6C3CB;
    margin: 0;
    color: #B6C3CB;
}

header {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
}

.info-container {
    position: relative;
    display: inline-block;
    height: 85%;
    width: 30%;
    background-color: #1E4969;
    box-sizing: border-box;
}

.info-1 {
    height: 25%;
    width: 100%;
    margin-top: 5vh;
    background-color: #B6C3CB;
}

.info-2 {
    height: 25%;
    width: 100%;
    margin: 20vh auto;
    background-color: #B6C3CB;
    border-bottom: .2em dotted #6a6969;
}

#wrapper {
    position: relative;
    display: inline-block;
    height: 85%;
    width: 69%;
    box-sizing: border-box;
}

#map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.picture {
    height: 30%;
    width: 30%;
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #1fcedb;
    background-size: contain;
    background-repeat: no-repeat;
}

.image {
    background-image: url("assets/Images/alisoCreek.jpg");
    height: 90%;
    /*width: ;*/
    margin: 2%;
}

.weather {
    height: 35%;
    width: 25%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    margin: auto auto 5vh 5vw;
    background-color: #338C81;
    opacity: 0.8;
    z-index: 99;
    padding: 10px;
}

footer {
    height: 5%;
    width: 100%;
    box-sizing: border-box;
}

.current {
    text-align: center;
}
.current >p, .sunrise-sunset >p, .high-low>p {
    margin: 0;
    font-size: 1.2em;
}
.current > p:first-child{
    font-size: 3.5em;
}

.sunrise-sunset, .high-low{
    display: inline-block;
    position: absolute;
    padding: 3%;
}

.high-low{
    right: 0;
}

/* Yelp Container */

.yelp_container {
    height: 25%;
    width: 25%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    margin: auto auto 5vh 5vw;
    background-color: #b65824;
}
.yelp_container>div {
    width: 9vh;
    height: 9vw;
    border: 1px solid black;
}
.yelp_img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
}

.yelp {
    text-align: center;
}

.yelp >p, 
.Name_title >p,
.price_title >p{
    margin: 0;
}
.yelp > p:first-child{
    font-size: 1.5rem;
}






.rounded-border {
    border-radius: 10%

.clickedBeach {
    color: green;

  }
